@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
:root{
    --Playfair: 'Playfair Display SC', serif;
    --AllianceColor: #ed3b3b;
    --AllianceColorSecondary: #e01515;
}

.test{
    border: 1px solid red;
}

