.form{
    margin: 2% auto;
    padding: 2%;
}

.submitButton{
    background-color: var(--AllianceColor);
    /* background-color: red; */
    /* background-color: #ed3b3b; */
}

.submitButton:hover{
    background-color: #e01515;
}

.forgotPassword{
    color: var(--AllianceColor);
}
